@model Recomida.WebApp.Models.Context.TipoRestaurante

@{
    ViewBag.Title = "Eliminar";
}

<div class="row">

    <div class="col-md-6 col-md-offset-3">
        <div class="box box-info">
            <div class="box-header with-border text-center">
                <img src="~/Imagenes/Delete.png" style="max-width: 50%" />
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="box-body">
                <div>
                    <h3>Seguro que quiere eliminar este restaurante?</h3>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Descripcion)
                        </dd>
                    </dl>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                            @Html.ActionLink("Volver a la lista", "Index")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
