@model Recomida.WebApp.Models.Context.TipoComida


@{
    ViewBag.Title = "Detalles";
}
<style>
    #map {
        height: 250px;
        width: 100%;
    }
</style>

<div>
    <div class="row">

        <div class="col-md-6 col-md-offset-3">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Detalles Tipo de Comida</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Descripcion)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.TipoComidaID }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
